<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card my-4 bg-light">
                <div class="title">
                    <h3 class="text-center pb-0 pt-4">Register</h3>
                </div>
                <div class="card-body">
                    <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm)">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="firstName" class="form-label">First Name</label>
                                    <input type="firstName" class="form-control" id="firstName" name="firstName" ngModel>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="lastName" class="form-label">Last Name</label>
                                    <input type="lastName" class="form-control" id="lastName" name="lastName" ngModel>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="gender" class="form-label">Gender</label>
                                    <div class="d-flex">
                                        <div class="form-check me-2">
                                            <input type="radio" class="form-check-input" value="Male" name="gender" id="male"
                                                ngModel>
                                            <label for="male" class="form-check-label">Male</label>
                                        </div>
                                        <div class="form-check me-2">
                                            <input type="radio" class="form-check-input" value="Female" name="gender"
                                                id="female" ngModel>
                                            <label for="female" class="form-check-label">Female</label>
                                        </div>
                                        <div class="form-check me-2">
                                            <input type="radio" class="form-check-input" value="Other" name="gender" id="other"
                                                ngModel>
                                            <label for="other" class="form-check-label">Other</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="dateOfBirth" class="form-label">Date Of Birth</label>
                                    <input type="date" class="form-control" name="dateOfBirth" ngModel>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="email" name="email" ngModel>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" ngModel>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="address" class="form-label">Address</label>
                                        <textarea id="address" class="form-control" name="address" ngModel></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                       
                       
                        <div class="mb-3 text-center">
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                        </div>
                        <div class="mb-3 form-check text-center">
                            <p>Already have account? <a routerLink="/login">Login</a></p>
                        </div>
                        <div class="mb-3 text-center">
                            <button id="google-btn" (click)="loginWithGoogle()" class="btn btn-outline-primary w-100">
                                <img src="../../../assets/images/google.png"> Sign Up With Google
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>